* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0D1B2A;
    font-family: Karla;
    color: #E0E1DD;
    padding: 8% 20%;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
}

span {
    color: #ee9b00;
    display: block;
}

h1 {
    margin-bottom: 1%;
}

button {
    background-color: #ee9b00;
    margin: 4% 0;
    border-radius: 50px;
    width: 25%;
    color: #0D1B2A;
    font-weight: 600;
    height: 50px;
    border: none;
    transition: all 500ms ease-in-out;
}

button:hover {
    scale: 1.05;
    cursor: pointer
}

.pass-wraper {
    display: flex;
    justify-content: space-between;
}

.pass-box {
    margin-top: 5%;
    background-color: #E0E1DD;
    width: 45%;
    height: 30px;
    border-radius: 50px;
    color: #0D1B2A;
    font-weight: 700;
}